In [23]:
import pandas as pd

In [18]:
display(df)

      Row ID        Order ID Sub-Category
0          1  CA-2016-152156    Bookcases
1          2  CA-2016-152156       Chairs
2          3  CA-2016-138688       Labels
3          4  US-2015-108966       Tables
4          5  US-2015-108966      Storage
...      ...             ...          ...
9989    9990  CA-2014-110422  Furnishings
9990    9991  CA-2017-121258  Furnishings
9991    9992  CA-2017-121258       Phones
9992    9993  CA-2017-121258        Paper
9993    9994  CA-2017-119914   Appliances

[9994 rows x 3 columns]

In [28]:
df = pd.read_excel("./loja.xlsx")

rowId = df['Row ID']
orderId = df['Order ID']
subCategory = df['Sub-Category']
categories = subCategory.unique()

todas = df[['Row ID','Order ID','Sub-Category']]
# display(df)
# display(categories)
display(todas)
# print(rowId, orderId, subCategory)

      Row ID        Order ID Sub-Category
0          1  CA-2016-152156    Bookcases
1          2  CA-2016-152156       Chairs
2          3  CA-2016-138688       Labels
3          4  US-2015-108966       Tables
4          5  US-2015-108966      Storage
...      ...             ...          ...
9989    9990  CA-2014-110422  Furnishings
9990    9991  CA-2017-121258  Furnishings
9991    9992  CA-2017-121258       Phones
9992    9993  CA-2017-121258        Paper
9993    9994  CA-2017-119914   Appliances

[9994 rows x 3 columns]

In [3]:
# Calculando a probabilidade
recomendation = (categories/user)

NameError: name 'categories' is not defined

In [2]:
# Input do user

qtdProdutos = int(input("Quantos produtos você já comprou?: "))

if(qtdProdutos > 0):
    categoriaEscolhida = input("Qual produto você escolheu?: ")