# <center> ðŸ“ˆTrabalho Grupo RecomendaÃ§Ãµes EstatÃ­sticaðŸ“ˆ </center>

### Importando a(s) biblioteca(s)

In [118]:
import pandas as pd

### Pegando o excel e mostrando-o

In [119]:
df = pd.read_excel("loja.xlsx")
df_unicos = df["Sub-Category"].unique()
display(df)

      Row ID        Order ID Sub-Category
0          1  CA-2016-152156    Bookcases
1          2  CA-2016-152156       Chairs
2          3  CA-2016-138688       Labels
3          4  US-2015-108966       Tables
4          5  US-2015-108966      Storage
...      ...             ...          ...
9989    9990  CA-2014-110422  Furnishings
9990    9991  CA-2017-121258  Furnishings
9991    9992  CA-2017-121258       Phones
9992    9993  CA-2017-121258        Paper
9993    9994  CA-2017-119914   Appliances

[9994 rows x 3 columns]

#### Importando as bibliotecas

In [120]:
qtdCategorias = 1

In [126]:
# if qtdProdutos < 0:# n

quant_cadeiras = df.loc[df['Sub-Category']=="Chairs"].size
quant_phones = df.loc[df['Sub-Category']=="phones"].size


total = df['Sub-Category'].unique()
cont=0
for i in total:
    print(i)
    
    

display(df_unicos)

Bookcases
Chairs
Labels
Tables
Storage
Furnishings
Art
Phones
Binders
Appliances
Paper
Accessories
Envelopes
Fasteners
Supplies
Machines
Copiers

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

### Pegar valor se ele nÃ£o estiver com nada no carrinho

In [128]:
# for categoria in qtdCategorias:
#     if df_unicos:
print(df_unicos[1])

Chairs

### Calculando a probabilidade

# Se o usuÃ¡rio estiver com o carrinho vazio

In [130]:
def listaCategorias(df):
    for i in df: 
        print(df["Sub-Category"])
    
listaCategorias(df)


# if (qtdProdutos==0):
#     listaCategorias(df)

0         Bookcases
1            Chairs
2            Labels
3            Tables
4           Storage
           ...
9989    Furnishings
9990    Furnishings
9991         Phones
9992          Paper
9993     Appliances
Name: Sub-Category, Length: 9994, dtype: object
0         Bookcases
1            Chairs
2            Labels
3            Tables
4           Storage
           ...
9989    Furnishings
9990    Furnishings
9991         Phones
9992          Paper
9993     Appliances
Name: Sub-Category, Length: 9994, dtype: object
0         Bookcases
1            Chairs
2            Labels
3            Tables
4           Storage
           ...
9989    Furnishings
9990    Furnishings
9991         Phones
9992          Paper
9993     Appliances
Name: Sub-Category, Length: 9994, dtype: object

In [ ]:
recomendation = (categories/categoriaEscolhida)