# <center> ðŸ“ˆTrabalho Grupo RecomendaÃ§Ãµes EstatÃ­sticaðŸ“ˆ </center>

#### Importando as bibliotecas

In [104]:
import pandas as pd

#### Criando as variÃ¡veis e mostrando o excel

In [105]:
df = pd.read_excel("./loja.xlsx")

rowId = df['Row ID']
orderId = df['Order ID']
subCategory = df['Sub-Category']
categories = subCategory.unique()

todas = df[['Row ID','Order ID','Sub-Category']]
# display(df)
# display(categories)
display(todas)
# print(rowId, orderId, subCategory)

      Row ID        Order ID Sub-Category
0          1  CA-2016-152156    Bookcases
1          2  CA-2016-152156       Chairs
2          3  CA-2016-138688       Labels
3          4  US-2015-108966       Tables
4          5  US-2015-108966      Storage
...      ...             ...          ...
9989    9990  CA-2014-110422  Furnishings
9990    9991  CA-2017-121258  Furnishings
9991    9992  CA-2017-121258       Phones
9992    9993  CA-2017-121258        Paper
9993    9994  CA-2017-119914   Appliances

[9994 rows x 3 columns]

In [1]:
# Agrupar os produtos pelo ID
df_agrupado = df.groupby('ordem_do_pedido')['produto_comprado'].apply(list).reset_index()

# Atualizar o DataFrame original
df_final = df_agrupado

# Salvar o resultado em um novo arquivo Excel
df_final.to_excel('arquivo_agrupado.xlsx', index=False)

NameError: name 'df' is not defined

#### O nosso maior inimigo, a lÃ³gica

In [ ]:
lista = ["CA-2015-146262","CA-2015-146262","CA-2015-146262","CA-2015-146262","CA-2015-146262"]

In [ ]:
for i in lista:
    display(df.loc[df['Order ID'] == lista])

# for i in categories:
#     print(i)

In [108]:
# Input do user
categoriaEscolhida = ""

qtdProdutos = int(input("Quantos produtos vocÃª jÃ¡ comprou?: "))


while categoriaEscolhida.isalpha() != True:
    if(qtdProdutos > 0):
        categoriaEscolhida = int(input("Qual produto vocÃª escolheu?: "))
    else:
        print("Algo de errado estÃ¡ errado !")

### Calculando a probabilidade

In [ ]:
recomendation = (categories/categoriaEscolhida)