# <center> ðŸ“ˆTrabalho Grupo RecomendaÃ§Ãµes EstatÃ­sticaðŸ“ˆ </center>

# Importando a biblioteca pandas

In [115]:
import pandas as pd

# Exibindo o dataset

In [116]:
df = pd.read_excel("loja.xlsx")
df_unicos = df["Sub-Category"].unique()
display(df)

      Row ID        Order ID Sub-Category
0          1  CA-2016-152156    Bookcases
1          2  CA-2016-152156       Chairs
2          3  CA-2016-138688       Labels
3          4  US-2015-108966       Tables
4          5  US-2015-108966      Storage
...      ...             ...          ...
9989    9990  CA-2014-110422  Furnishings
9990    9991  CA-2017-121258  Furnishings
9991    9992  CA-2017-121258       Phones
9992    9993  CA-2017-121258        Paper
9993    9994  CA-2017-119914   Appliances

[9994 rows x 3 columns]

# Pedindo a Sub-Categoria ao usuÃ¡rio

In [121]:
# Solicitar ao usuÃ¡rio que insira as subcategorias que escolheu
categoriasEscolhidas = input("Categoria esolhida (Separe por vÃ­rgula): ").split(',')
print(categoriasEscolhidas)

['Phones']

# Agrupando por usuÃ¡rio

In [118]:
carrinhos = df.groupby('Order ID')['Sub-Category'].apply(lambda x: list(set(x))).tolist()

sub_categories = sorted(df['Sub-Category'].unique())

boolean_matrix = []

for cart in carrinhos:
    boolean_row = [sub_cat in cart for sub_cat in sub_categories]
    boolean_matrix.append(boolean_row)

boolean_df = pd.DataFrame(boolean_matrix, columns=sub_categories)

display(boolean_df)

,Accessories,Appliances,Art,Binders,Bookcases,Chairs,Copiers,Envelopes,Fasteners,Furnishings,Labels,Machines,Paper,Phones,Storage,Supplies,Tables
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
5005,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5006,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5007,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5008,True,False,False,False,True,False,False,False,False,False,False,False,True,True,True,False,False

# Se o usuÃ¡rio estiver com o carrinho vazio:

In [119]:
def recomendacao_carrinho_vazio():
    dict_categorias = df['Sub-Category'].value_counts()
    # dict_valores = df['Sub-Category'].value_counts().to_dict()
    # display(df["Sub-Category"])
    
    porcentagem = round(((dict_categorias / dict_categorias.sum()) * 100), 2)
    
    df_recomedacao = pd.DataFrame({
        'Sub-Categoria': dict_categorias.index,
        '%': porcentagem.values
    })
    
    display(df_recomedacao)

if len(categoriasEscolhidas) < 2 and categoriasEscolhidas == ['']:
    recomendacao_carrinho_vazio()
else:
    print("Carrinho vazio.")

Carrinho vazio.

# Se o usuÃ¡rio tiver algo no carrinho

In [122]:
def recomendacao_subcategorias(subcategorias_escolhidas):
    if not subcategorias_escolhidas or subcategorias_escolhidas == [""]:
        return
    
    subcategorias_escolhidas = [categoria.strip().capitalize() for categoria in subcategorias_escolhidas]
    
    # Filtrar pedidos que contÃªm todas as subcategorias escolhidas
    mask = boolean_df[subcategorias_escolhidas].all(axis=1)
    df_filtrado = boolean_df[mask]
    
    # Contar subcategorias compradas junto com as escolhidas
    contagem_subcategorias = df_filtrado.sum(axis=0)
    
    # Remover as subcategorias escolhidas da contagem
    contagem_subcategorias = contagem_subcategorias[~contagem_subcategorias.index.isin(subcategorias_escolhidas)]
    
    
    
    # Exibindo os resultados
    
    df_contagem = contagem_subcategorias.reset_index()
    df_contagem.columns = ['Subcategoria', 'Contagem']
    df_contagem['Porcentagem %'] = (df_contagem['Contagem'] / len(df_filtrado)) * 100
    
    print("Sub-Categorias escolhida: ")
    for subcategoria in subcategorias_escolhidas:
        print(f"- {subcategoria}")
    print('\n')
    
    df_recomendacao = df_contagem.head(10).round(2)
    df_recomendacao = df_recomendacao.sort_values(by='Porcentagem %', ascending=False)
    print('----------RecomendaÃ§Ãµes----------')
    display(df_recomendacao[['Subcategoria', 'Porcentagem %']])
    
    
if categoriasEscolhidas != [""]:
    recomendacao_subcategorias(categoriasEscolhidas)

Sub-Categorias escolhida:
- Phones


----------RecomendaÃ§Ãµes----------

  Subcategoria  Porcentagem %
3      Binders          24.45
9  Furnishings          18.18
2          Art          15.23
0  Accessories          14.25
5       Chairs          10.93
1   Appliances           9.34
4    Bookcases           5.16
7    Envelopes           5.04
8    Fasteners           4.55
6      Copiers           1.35